{% extends 'layouts/blank.html' %}
{% load price_filters %}

{% block content %}

{% load static %}

<div class="container mx-auto px-4 md:px-6 lg:px-8 py-8 opacity-0" _="on load transition my opacity to 1 over 0.3 seconds">
    <h1 class="text-2xl md:text-3xl font-bold mb-6">Tu carrito</h1>
    {% if cart_data %}
        <p class="text-base md:text-lg mb-4">Tienes {{ totalcartitems }} producto{{ totalcartitems|pluralize }} en el carrito</p>
        <div class="bg-white rounded-lg shadow-md overflow-hidden">
            <div class="overflow-x-auto">
                <table class="w-full divide-y divide-gray-200" id="cart-list">
                    <thead class="bg-gray-50 hidden md:table-header-group">
                        <tr>
                            <th scope="col" class="px-4 md:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Productos</th>
                            <th scope="col" class="px-4 md:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Precio</th>
                            <th scope="col" class="px-4 md:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Subtotal</th>
                            <th scope="col" class="px-4 md:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Cantidad</th>
                            <th scope="col" class="px-4 md:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% for product_id, item in cart_data.items %}
                        <tr class="flex flex-col md:table-row hover:bg-gray-50 p-2">
                            <td class="px-4 md:px-6 py-4">
                                <div class="flex items-center">
                                    <div class="flex-shrink-0 h-24 w-24">
                                        <img class="h-24 w-24 rounded-md object-cover" src="{{ item.image }}" alt="{{ item.title }}">
                                    </div>
                                    <div class="ml-4">
                                        <a href="{% url 'product-detail' item.pid %}" class="text-xl font-medium text-gray-900 hover:text-indigo-600">
                                            {{ item.title }}
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="px-4 md:px-6 py-2 md:py-4">    
                                <div class="text-md text-gray-900">
                                    <span class="md:hidden font-medium">Precio: </span>${{ item.price|formato_precio }}
                                </div>
                            </td>
                            <td class="px-4 md:px-6 py-2 md:py-4">          
                                {% widthratio item.price 1 item.qty as total %}
                                <div class="text-md text-green-600 font-medium">
                                    <span class="md:hidden font-medium">Subtotal: </span>${{ total|formato_precio }}
                                </div>
                            </td>
                            <td class="flex items-center justify-center gap-4 md:block md:mt-6 px-4 md:px-6 py-2 md:py-4">
                                <span class="md:hidden font-medium">Cantidad: </span>
                                <input type="number" inputmode="numeric" pattern="[0-9]*" name="quantity" value="{{ item.qty }}" min="1" max="{{ item.stock }}"
                                    class="product-qty-{{ product_id }} shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-16 sm:w-20 text-sm border-gray-300 rounded-md">
                            </td>
                            <td class="mx-auto md:m-0 px-4 md:px-6 py-6 md:py-4 text-md font-medium">
                                <div class="flex space-x-4">
                                    <button data-product="{{ product_id }}" class="update-product bg-blue-600 py-3 px-8">
                                        <span class="sr-only">Actualizar</span>
                                        <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                                        </svg>
                                    </button>
                                    <button data-product="{{ product_id }}" class="group relative delete-product flex py-3 px-8 flex-col items-center justify-center overflow-hidden rounded-md  bg-red-600 hover:bg-red-900">
                                        <svg viewBox="0 0 1.625 1.625" class="absolute -top-7 fill-white delay-100 group-hover:top-6 group-hover:animate-[spin_1.4s] group-hover:duration-1000" height="15" width="15">
                                            <path d="M.471 1.024v-.52a.1.1 0 0 0-.098.098v.618c0 .054.044.098.098.098h.487a.1.1 0 0 0 .098-.099h-.39c-.107 0-.195 0-.195-.195"></path>
                                            <path d="M1.219.601h-.163A.1.1 0 0 1 .959.504V.341A.033.033 0 0 0 .926.309h-.26a.1.1 0 0 0-.098.098v.618c0 .054.044.098.098.098h.487a.1.1 0 0 0 .098-.099v-.39a.033.033 0 0 0-.032-.033"></path>
                                            <path d="m1.245.465-.15-.15a.02.02 0 0 0-.016-.006.023.023 0 0 0-.023.022v.108c0 .036.029.065.065.065h.107a.023.023 0 0 0 .023-.023.02.02 0 0 0-.007-.016"></path>
                                        </svg>
                                        <svg width="16" fill="none" viewBox="0 0 39 7" class="origin-right duration-500 group-hover:rotate-90">
                                            <line stroke-width="4" stroke="white" y2="5" x2="39" y1="5"></line>
                                            <line stroke-width="3" stroke="white" y2="1.5" x2="26.0357" y1="1.5" x1="12"></line>
                                        </svg>
                                        <svg width="16" fill="none" viewBox="0 0 33 39" class="">
                                            <mask fill="white" id="path-1-inside-1_8_19">
                                            <path d="M0 0H33V35C33 37.2091 31.2091 39 29 39H4C1.79086 39 0 37.2091 0 35V0Z"></path>
                                            </mask>
                                            <path mask="url(#path-1-inside-1_8_19)" fill="white" d="M0 0H33H0ZM37 35C37 39.4183 33.4183 43 29 43H4C-0.418278 43 -4 39.4183 -4 35H4H29H37ZM4 43C-0.418278 43 -4 39.4183 -4 35V0H4V35V43ZM37 0V35C37 39.4183 33.4183 43 29 43V35V0H37Z"></path>
                                            <path stroke-width="4" stroke="white" d="M12 6L12 29"></path>
                                            <path stroke-width="4" stroke="white" d="M21 6V29"></path>
                                        </svg>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="mt-8 bg-white shadow-md rounded-lg p-4 md:p-6">
                    <h3 class="text-xl md:text-2xl font-semibold text-gray-900">Total a pagar: ${{ cart_total_amount|formato_precio }}</h3>
                </div>
            </div>
        </div>
        
        <div class="mt-8 bg-white shadow-md rounded-lg overflow-hidden">
            <form action="{% url 'save-checkout-info' %}" method="POST" class="p-4 sm:p-6 space-y-6">
                {% csrf_token %}
                <h2 class="text-xl sm:text-2xl font-semibold mb-4">Información de envío</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 sm:gap-6">
                    <div class="space-y-2">
                        <label for="first_name" class="block text-sm font-medium text-gray-700">Nombre:</label>
                        <input type="text" id="first_name" name="first_name" placeholder="Lionel" required value="{{ address.first_name }}"
                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    </div>
                    <div class="space-y-2">
                        <label for="last_name" class="block text-sm font-medium text-gray-700">Apellido:</label>
                        <input type="text" id="last_name" name="last_name" placeholder="Messi" required value="{{ address.last_name }}"
                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    </div>
                    <div class="space-y-2">
                        <label for="email" class="block text-sm font-medium text-gray-700">Correo electrónico:</label> 
                        <input type="email" id="email" name="email" placeholder="lionel@gmail.com" required value="{{ address.email }}"
                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    </div>
                    <div class="space-y-2">
                        <label for="address" class="block text-sm font-medium text-gray-700">Dirección:</label>
                        <input type="text" id="address" name="address" placeholder="9 de julio y Av,San martin" required value="{{ address.address }}"
                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    </div>
                    <div class="space-y-2">
                        <label for="number" class="block text-sm font-medium text-gray-700">Número:</label>
                        <input type="number" inputmode="numeric" pattern="[0-9]*" id="number" name="number" placeholder="3323" required value="{{ address.number }}"
                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    </div>
                    <div class="space-y-2">
                        <label for="level" class="block text-sm font-medium text-gray-700">Piso:</label>
                        <input type="number" inputmode="numeric" pattern="[0-9]*" id="level" name="level" placeholder="5" value="{{ address.level }}" 
                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    </div>
                    <div class="space-y-2">
                        <label for="departament" class="block text-sm font-medium text-gray-700">Departamento:</label>
                        <input type="number" inputmode="numeric" pattern="[0-9]*" id="departament" name="departament" placeholder="41" value="{{ address.departament }}" 
                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    </div>
                    <div class="space-y-2">
                        <label for="zipcode" class="block text-sm font-medium text-gray-700">Código Postal:</label>
                        <input type="text" id="zipcode" name="zipcode" placeholder="32122" required value="{{ address.zipcode }}"
                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    </div>
                    <div class="space-y-2">
                        <label for="city" class="block text-sm font-medium text-gray-700">Provincia:</label>
                        <input type="text" id="city" name="city" placeholder="Santa Fe" required value="{{ address.city }}"
                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    </div>
                    <div class="space-y-2">
                        <label for="country" class="block text-sm font-medium text-gray-700">País:</label>
                        <input type="text" id="country" name="country" placeholder="Argentina" required value="{{ address.country }}"
                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    </div>
                    <div class="space-y-2">
                        <label for="mobile" class="block text-sm font-medium text-gray-700">Celular:</label>
                        <input type="number" inputmode="numeric" pattern="[0-9]*" id="mobile" name="mobile" placeholder="23198321" required value="{{ address.mobile }}"
                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    </div>
                </div>
                <div class="mt-6">
                    <button class="w-full bg-indigo-600 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Proceder al pago
                    </button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="text-center py-12">
            <h2 class="text-xl sm:text-2xl font-semibold text-gray-900">Tu carrito está vacío</h2>
            <p class="mt-2 text-sm text-gray-600">¿Por qué no agregas algunos productos?</p>
            <a href="{% url 'product-list' %}" class="mt-6 inline-flex items-center px-4 sm:px-6 py-2 sm:py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Ir a la tienda
            </a>
        </div>
    {% endif %}
</div>

<div id="spinner" class="absolute top-2/4 left-2/4" hx-trigger="load">
    <svg class="htmx-indicator loader" width="35" height="35" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" opacity=".25"/><path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"><animateTransform attributeName="transform" type="rotate" dur="0.75s" values="0 12 12;360 12 12" repeatCount="indefinite"/></path></svg>
</div>

<script>

$(document).ready(function() {
    
    $(".delete-product").on("click", function () {
        let product_id = $(this).attr('data-product')
        let this_val = $(this)

        console.log(product_id);

        $.ajax({
            url: '/delete-from-cart',
            data: {
                'id': product_id,
            },
            dataType: 'json',
            beforeSend: function() {
                this_val.hide()
            },

            success: function(response) {
                this_val.show()
                $('.cart-items-count').text(response.totalcartitems)
                $('#cart-list').html(response.data)
                location.reload()
            }
        })
        
    })



    $(".update-product").on("click", function () {
        let product_id = $(this).attr('data-product')
        let this_val = $(this)
        let product_qty = $('.product-qty-'+ product_id).val()

        console.log('ID',product_id);
        console.log('QTY', product_qty);

        $.ajax({
            url: '/update-cart',
            data: {
                'id': product_id,
                'qty': product_qty,
            },
            dataType: 'json',
            beforeSend: function() {
                this_val.hide()
            },

            success: function(response) {
                this_val.show()
                $('.cart-items-count').text(response.totalcartitems)
                $('#cart-list').html(response.data)
                location.reload()
            }
        })
        
    })

})



</script>

{% endblock %}