{% extends 'layouts/blank.html' %}
{% load price_filters %}
{% block content %}

<div class="container mx-auto px-4 py-8 opacity-0" _="on load transition my opacity to 1 over 0.3 seconds">
    <h1 class="text-3xl font-bold mb-8">Verificar</h1>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        <div class="lg:col-span-2">
            <div class="space-y-4">
                {% for item in order_items %}
                    <div class="bg-white rounded-lg shadow-md p-4 flex items-center gap-4">
                        <img src="{{ item.image }}" alt="{{ item.name }}" class="w-24 h-24 object-cover rounded-lg">
                        <div class="flex-1">
                            <h3 class="font-semibold">{{ item.item }}</h3>
                            <div class="text-sm text-gray-600">Cantidad: {{ item.qty }}</div>
                            <div class="mt-1">Precio: $ {{ item.price|formato_precio }}</div>
                            <div class="font-medium">Total: ${{ item.total|formato_precio  }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <div class="bg-white rounded-lg shadow-md p-6">
                <h2 class="text-xl font-semibold mb-4">Resumen del pedido</h2>
                <div class="space-y-2">
                    <div class="flex justify-between">
                        <span>Impuesto</span>
                        <span>${{ tax }} 0</span>
                    </div>
                    <div class="flex justify-between">
                        <span>Envío</span>
                        <span>${{ shipping }} 0</span>
                    </div>
                    <div class="flex justify-between">
                        <span>Descuento</span>
                        <span class="text-green-600"> -${{ order.saved|formato_precio }}</span>
                    </div>
                    <hr class="my-4">
                    <div class="flex justify-between font-semibold">
                        <span>Total</span>
                        <span>$ {{ order.price|formato_precio }}</span>
                    </div>
                </div>
                <div class="mt-6 space-y-4">
                    <form method="POST" class="flex gap-2">
                        {% csrf_token %}
                        <input name="code" type="text" placeholder="Introduzca el código de cupón..." class="flex-1 px-3 py-2 border rounded-md">
                        <button class="px-4 py-2 bg-gray-200 text-gray-800 rounded-md hover:bg-gray-300">Apply</button>
                    </form>
                    <button class="w-full py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">
                        Mercado Pago 
                    </button>
                    <div id="paypal-button-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="spinner" class="absolute top-2/4 left-2/4" hx-trigger="load">
    <svg class="htmx-indicator loader" width="35" height="35" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" opacity=".25"/><path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"><animateTransform attributeName="transform" type="rotate" dur="0.75s" values="0 12 12;360 12 12" repeatCount="indefinite"/></path></svg>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=ATAeu9wXQDZ2UTOLfAPExCWpvC6OH4kVK2bDpCi1-6K8aqPqk497TItblXM3_izjEfyh8ET6MIEJfetK&currency=USD"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>


<script>

    let price = parseFloat('{{ order.price }}').toFixed(2);
    
    paypal.Buttons({
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [
                    {
                        amount: {
                            value: price,
                        },
                    },
                ],
            });
        },    

        onApprove: function(data, actions) {
            return actions.order.capture().then(function(Detail) {
                console.log(Detail);
                if (Detail.status === 'COMPLETED'){
                    window.location.href = `/payment-success/{{order.oid}}/?status=${Detail.status}`
                }
            })
        }
    
    }).render('#paypal-button-container')

</script>

{% endblock %}