{% extends 'layouts/blank.html' %}

{% block content %}
<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12 opacity-0" _="on load transition my opacity to 1 over 0.3 seconds">
    <div class="relative sm:max-w-4xl sm:mx-auto">
        <!-- Fondo decorativo -->
        <div class="absolute inset-0 bg-gradient-to-r from-cyan-400 to-blue-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
        </div>
        <!-- Contenedor principal -->
        <div class="relative bg-white shadow-lg sm:rounded-3xl p-6 sm:p-12">
            <div class="max-w-full mx-auto">
                <!-- Título -->
                <div class="text-center">
                    <h1 class="text-3xl font-semibold text-gray-800">Contáctanos</h1>
                    <h2 class="text-green-600" id="message-response"></h2>
                    <p class="mt-2 text-gray-600" id="contact-p">Completa el formulario y nos pondremos en contacto contigo</p>
                </div>
                <!-- Formulario -->
                <form action="" method="post" id="contact-form" 
                    class="mt-8 grid grid-cols-1 gap-6 sm:grid-cols-2 sm:gap-x-8">
                    {% csrf_token %}
                    <!-- Nombre Completo -->
                    <div class="flex flex-col">
                        <label for="full_name" class="text-sm font-medium text-gray-600">Nombre Completo</label>
                        <input type="text" id="full_name" name="full_name" placeholder="Lionel Messi" required
                            class="mt-1 p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none">
                    </div>
                    <!-- Email -->
                    <div class="flex flex-col">
                        <label for="email" class="text-sm font-medium text-gray-600">Correo Electrónico</label>
                        <input type="email" id="email" name="email" placeholder="ejemplo@email.com" required
                            class="mt-1 p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none">
                    </div>
                    <!-- Teléfono -->
                    <div class="flex flex-col">
                        <label for="phone" class="text-sm font-medium text-gray-600">Teléfono</label>
                        <input type="number" inputmode="numeric" pattern="[0-9]*" id="phone" name="phone" placeholder="123-456-7890" required
                            class="mt-1 p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none">
                    </div>
                    <!-- Asunto -->
                    <div class="flex flex-col">
                        <label for="subject" class="text-sm font-medium text-gray-600">Asunto</label>
                        <input type="text" id="subject" name="subject" placeholder="Consulta general" required
                            class="mt-1 p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none">
                    </div>
                    <!-- Mensaje -->
                    <div class="sm:col-span-2 flex flex-col">
                        <label for="message" class="text-sm font-medium text-gray-600">Mensaje</label>
                        <textarea id="message" name="message" rows="4" placeholder="Escribe tu mensaje aquí" required
                            class="mt-1 p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none"></textarea>
                    </div>
                    <!-- Botón de envío -->
                    <div class="sm:col-span-2 flex justify-center">
                        <button type="submit" 
                            class="w-full sm:w-auto bg-blue-500 text-white font-semibold py-3 px-6 rounded-lg shadow-md hover:bg-gray-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition">
                            Enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="spinner" class="absolute top-2/4 left-2/4" hx-trigger="load">
    <svg class="htmx-indicator loader" width="35" height="35" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" opacity=".25"/><path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"><animateTransform attributeName="transform" type="rotate" dur="0.75s" values="0 12 12;360 12 12" repeatCount="indefinite"/></path></svg>
</div>


<script>

    $(document).ready(function() {
        
        $(document).on('submit', '#contact-form', function(e) {
            e.preventDefault()

            let full_name = $('#full_name').val()
            let email = $('#email').val()
            let phone = $('#phone').val()
            let subject = $('#subject').val()
            let message = $('#message').val()

            console.log(full_name);
            console.log(email);
            console.log(phone);
            console.log(subject);
            console.log(message);
            
            $.ajax({
                url: '/ajax-contact-form',
                data: {
                    'full_name': full_name,
                    'email': email,
                    'phone': phone,
                    'subject': subject,
                    'message': message,
                },
                dataType: 'json',
                beforeSend: function() {
                    console.log('enviando...');
                    
                },

                success: function(response) {
                    $('#contact-form').hide()
                    $('#contact-p').hide()
                    $('#message-response').html('Mensaje Enviado !!!')

                    
                }
            })

            
        })


    })




</script>



{% endblock %}