{% extends 'layouts/h.html' %}
{% load price_filters %}


{% block content %}
<section class="flex flex-wrap justify-center gap-6 container mx-auto pt-12 md:pt-24">
        {% for product in products %}
                {% include 'a_store/product.html' %}
        {% endfor %}
</section>



<div hx-get="{% url 'home' %}?page={{ page|add:1 }}"
    hx-trigger="revealed"
    hx-target="this"
    hx-swap="outerHTML">
    <div id="spinner" class="absolute top-2/4 left-2/4" hx-trigger="load">
        <svg class="htmx-indicator loader" width="35" height="35" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" opacity=".25"/><path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"><animateTransform attributeName="transform" type="rotate" dur="0.75s" values="0 12 12;360 12 12" repeatCount="indefinite"/></path></svg>
    </div>
</div>


<div id="spinner" class="absolute top-2/4 left-2/4" hx-trigger="load">
    <svg class="htmx-indicator loader" width="35" height="35" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" opacity=".25"/><path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"><animateTransform attributeName="transform" type="rotate" dur="0.75s" values="0 12 12;360 12 12" repeatCount="indefinite"/></path></svg>
</div>



<script>

    $(".add-to-cart-btn").on("click", function () {

        let this_val = $(this)
        let index = this_val.attr('data-index')

        let quantity = $('.product-quantity-' + index).val()
        let product_title = $('.product-title-' + index).val()

        let product_id = $('.product-id-' + index).val()
        let product_price = $('.current-product-price-' + index).text().replace(',', '.').replace('.', '').replace('$', '');

        let product_pid = $('.product-pid-' + index).val()
        let product_image = $('.product-image-' + index).val()

        // console.log('Quantity:', quantity);
        // console.log('Title:', product_title);
        // console.log('price:', product_price);
        // console.log('id:', product_id);
        // console.log('Pid:', product_pid);
        // console.log('Image:', product_image);
        // console.log('Index:', index);
        // console.log('Current Element:', this_val);


        $.ajax({
            url: '/add-to-cart',
            data: {
                'id': product_id,
                'pid': product_pid,
                'image': product_image,
                'qty': quantity,
                'title': product_title,
                'price': product_price
            },
            dataType: 'json',
            beforeSend: function() {
                // console.log('Product adding');

            },

            success: function(res) {
                this_val.html(`
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="https://www.w3.org/2000/svg">
                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 15l-5-5 1.41-1.41L11 14.17l7.59-7.59L20 8l-9 9z" fill="currentColor"/>
                        </svg>
                `);

                // console.log('Producto agreagdo al cart');
                $('.cart-items-count').text(res.totalcartitems)

            },

            error: function() {
                // Selecciona la notificación de error
                const errorNotification = $('#error-notification');
                
                // Muestra la notificación con un efecto fade-in
                errorNotification.fadeIn();

                // Desaparece la notificación después de 3 segundos
                setTimeout(function() {
                    errorNotification.fadeOut();
                }, 3000);
            }
        })
    })

</script>

{% endblock %}