{% extends 'layouts/a.html' %}
{% load static %}
{% load price_filters %}

{% block content %}

<content class="sm:flex mt-32 max-w-5xl mx-auto items-center justify-center">

<div class="container mx-auto px-4 py-8 opacity-0" _="on load transition my opacity to 1 over 0.3 seconds">

    <div class="bg-white rounded-lg shadow-lg max-w-6xl mx-auto mb-8">
        
        <div class="grid md:grid-cols-2">
            <!-- Image Carousel -->
            <div class="product-carousel">
                <!-- Main Image Display -->
                <div class="carousel-main relative w-full overflow-hidden rounded-lg">
                    {% if product.old_price %}
                    <span class="absolute bg-gray-900 text-white text-md font-semibold m-3 p-2 rounded border-gray-600">-{{product.get_precentage|floatformat:0 }}%</span>
                    {% endif %}
                    <img id="main-image" src="{{ product.image.url }}" alt="Imagen principal del producto" 
                        class="object-cover w-full h-full transition-transform duration-300 hover:scale-150">
                </div>
            
                <!-- Thumbnail Navigation -->
                <div class="carousel-thumbnails flex justify-center mt-4 gap-4 overflow-x-auto p-2 md:p-0">
                    <!-- Main Product Thumbnail -->
                    <div class="thumbnail cursor-pointer w-auto h-auto max-w-20 border-2 border-gray-200 rounded-md hover:border-gray-500 transition">
                        <img src="{{ product.image.url }}" alt="Miniatura del producto" 
                            class="object-cover w-full h-full rounded-md">
                    </div>
            
                    <!-- Additional Images -->
                    {% for p in p_image %}
                    <div class="thumbnail cursor-pointer w-auto h-auto max-w-20 border-2 border-gray-200 rounded-md hover:border-gray-500 transition">
                        <img src="{{ p.images.url }}" alt="Miniatura del producto" 
                            class="object-cover w-full h-full rounded-md">
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Product Information -->
            <div class="flex flex-col justify-between space-y-6 p-6">
                <div class="flex justify-between items-center mt-6 md:mt-0">
                    <h1 class="text-3xl font-bold text-gray-800">{{ product.title }}</h1>
                    {% if request.user.is_authenticated %}
                        {% if product.id in wishlist_product_ids %}
                        <button class="pb-4 w-8 bg-transparent add-to-wishlist" data-product-item="{{ product.id }}"><img
                                src="{% static 'images/heart-black.svg' %}" alt="wishlist"></button>
                        {% else%}
                        <button class="pb-4 w-8 bg-transparent add-to-wishlist" data-product-item="{{ product.id }}"><img
                                src="{% static 'images/heart.svg' %}" alt="wishlist"></button>
                        {% endif %}
                    {% else %}
                    <a href="{% url 'account_login' %}" class="w-8 bg-transparent"><img
                        src="{% static 'images/heart.svg' %}" alt="wishlist"></a>
                    {% endif %}
                </div>
                <label for="size" class="flex flex-col text-lg font-medium text-gray-700">Talle:
                    <select id="sizechange" class="product-size-{{ product.id }} pl-3 py-3 bg-transparent border border-black rounded-sm w-16" name="size">
                        {% for size in p_size %}
                        {% if size.stock > 0 %}
                        <option value="{{size.size}}">{{size.size|title}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </label>
                <p class="text-gray-700">{{ product.description }}</p>
                <div class="flex flex-wrap gap-2 items-center">
                    <span class="font-semibold">Categorias:</span>
                    {% for tag in product.tags.all %}
                    <a href="{% url 'tags' tag.slug %}"
                        class="inline-block bg-gray-600 rounded-full px-3 py-1 text-sm font-semibold text-white hover:bg-gray-900 transition duration-200">#{{tag.name}}</a>
                    {% endfor %}
                </div>
                <div class="flex flex-col items-start space-x-4">
                    <span class="text-3xl font-bold current-price current-product-price-{{ product.id }}">$ {{ product.price|formato_precio }}</span>
                    {% if product.old_price %}
                    <span class="text-xl text-gray-400 pl-3 line-through">$ {{ product.old_price|formato_precio }}</span>
                    {% endif %}
                </div>
                <label for="cantidad">
                    Cantidad:
                    <input type="number" inputmode="numeric" pattern="[0-9]*" min="1" value="1" id="product-quantity"
                    class="ml-2 pl-5 py-2 w-16 sm:w-20 text-lg mb-10 bg-transparent border border-black product-quantity-{{ product.id }}">
                </label>
                <div>
                    <!-- <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ product.id }} w-16"> -->
                    <input type="hidden" class="product-pid-{{ product.id }} w-16" value="{{ product.pid }}">
                    <input type="hidden" class="product-image-{{ product.id }}" value="{{ product.image.url }}">
                    <input type="hidden" class="product-id-{{ product.id }}" value="{{ product.id }}">
                    <input type="hidden" class="product-title-{{ product.id }}" value="{{ product.title }}">
                    <div id="error-notification"
                        class="hidden fixed top-32 right-5 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded shadow-lg"
                        role="alert">
                        <strong class="font-bold">Error:</strong>
                        <span class="block sm:inline">Producto ya agregado</span>
                    </div>
                    <button id="add-to-cart-btn" data-index="{{ product.id }}"
                        class="add-to-cart-btn w-full bg-gray-700 text-white py-3 px-4 rounded-lg hover:bg-gray-900 transition duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Agregar
                        al Carrito</button>
                </div>

                
            </div>

            
        </div>

        <div x-data="{ open: false }" class="relative p-6 md:p-8 mt-8" >
            <div @click="open = !open" @click.away="open = false"
                class="flex items-center justify-between bg-transparent w-full text-gray-700 hover:text-gray-900 text-lg font-medium">
                <span class="flex">
                    Descripcíon
                </span>
                <svg class="ml-1 h-5 w-5 transition-transform duration-500" :class="{'rotate-180': open}" xmlns="https://www.w3.org/2000/svg"
                    viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div x-show="open" 
                x-transition:enter="duration-300 ease-out"
                x-transition:enter-start="opacity-0 -translate-y-10"
                x-transition:enter-end="opacity-100 translate-y-0"
                x-transition:leave="duration-200 ease-in"
                x-transition:leave-start="opacity-100 translate-y-0"
                x-transition:leave-end="opacity-0 -translate-y-10"
                class="w-full mt-4 bg-white">
                <div class="py-1">
                    <p class="text-gray-700 leading-relaxed">
                            {{ product.specifications }}
                    </p>
                </div>
            </div>
        </div>

        <div class="border-t mt-10">
            <div class="comment-list p-6 md:p-8 rounded-lg space-y-8">
                <h4 class="text-lg md:text-xl font-semibold mb-4 text-gray-800">Comentarios ({{ reviews.count }})</h4>

                <div class="flex items-center mb-4 md:mb-6">
                    <div class="flex text-yellow-400 text-xl md:text-2xl">
                        <!-- Generar estrellas llenas y vacías según el promedio -->
                        {% for i in "12345" %}
                            {% if i <= average_rating.rating|floatformat:0 %}
                                &#9733; <!-- Estrella llena -->
                            {% else %}
                                &#9734; <!-- Estrella vacía -->
                            {% endif %}
                        {% endfor %}
                    </div>
                    <span class="ml-2 text-gray-700 text-base md:text-lg">{{ average_rating.rating|floatformat:1 }} de 5.0</span>
                </div>

                {% if request.user.is_authenticated %}
                    {% if make_review %}
                        <form class="hide-form mt-8 space-y-4" method="POST" action="{% url 'ajax-add-review' product.id %}" id="commentForm">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="review" class="block text-gray-700 font-medium">Comentario</label>
                                    {{ review_form.review }}
                                </div>
                                <div class="form-group">
                                    <label for="rating" class="block text-gray-700 font-medium">Calificar</label>
                                    {{ review_form.rating }}
                                </div>
                                <button class="w-full md:w-auto bg-gray-700 text-white py-2 px-4 rounded-lg hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-50 transition duration-150">Enviar</button>
                            </form>
                    {% endif %}
                {% else %}
                    <a href="{% url 'account_login' %}" class="block hover:underline text-center text-gray-500" id="hide-text">Inicia sesión para poder comentar</a>
                {% endif %}

                {% if reviews.exists %}

                <div class="comment-list2 space-y-6">
                    {% for r in reviews %}
                    <div class="single-comment flex flex-col md:flex-row md:justify-between p-4 md:p-6 bg-white border border-gray-200 rounded-lg shadow hover:shadow-lg transition duration-150 ease-in-out">
                        <div class="user flex items-center space-x-4 mb-4 md:mb-0">
                            <div class="avatar w-12 h-12 md:w-14 md:h-14">
                                <img src="https://www.svgrepo.com/show/442075/avatar-default-symbolic.svg"  class="w-full h-full object-cover rounded-full" />
                            </div>
                            <span class="font-semibold text-gray-700 hover:underline">
                                {{ r.user.username|title }}
                            </span>
                        </div>
                        <div class="desc w-full md:ml-6">
                            <div class="flex items-center justify-between mb-2">
                                <span class="text-sm text-gray-500">{{ r.date|date:"d M, Y" }}</span>
                            </div>
                            <div class="flex text-yellow-400 text-lg">
                                {% for star in "12345" %}
                                    {% if forloop.counter <= r.rating %}
                                        &#9733; <!-- Estrella llena -->
                                    {% else %}
                                        &#9734; <!-- Estrella vacía -->
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <p class="text-gray-700 leading-relaxed">{{ r.review }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="comment-list2">
                </div>
                <div class="mt-4">
                    <p class="text-center text-gray-500" id="hide-text">No hay comentarios aún. Sé el primero en comentar.</p>
                </div>
                {% endif %}
            </div>
            <div id="success-notification" class="hidden fixed top-32 right-5 bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded shadow-lg" role="alert">
                <span class="block sm:inline">Comentario Agregado</span>
            </div>
            <div id="Psuccess-notification" class="hidden fixed top-32 right-5 bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded shadow-lg" role="alert">
                <span class="block sm:inline">Producto Agregado</span>
            </div>

        </div>

    </div>

</div>

</content>

<!--  Related Products  -->
{% if products %}
<div class="py-12 mb-20">
    <h3 class="text-2xl font-bold text-gray-700 underline mb-12 text-center">
        Productos Relacionados
    </h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 xl:grid-cols-5 gap-6">
        {% for product in products %}
        <article class="bg-white rounded-lg shadow-md overflow-hidden transition-all duration-300 hover:shadow-xl opacity-0" _="on load transition my opacity to 1 over 0.3 seconds">
            {% if product.image %}
            <a href="{% url 'product-detail' product.pid %}">
                <div class="aspect-square overflow-hidden">
                    {% if product.old_price %}
                    <span class="absolute bg-gray-900 text-white text-md font-semibold m-3 p-2 rounded border-gray-600">-{{ product.get_precentage|floatformat:0 }}%
                    </span>
                    {% endif %}
                    <img class="w-full h-full object-cover transition-transform duration-300 hover:scale-105" src="{{ product.image.url }}" alt="{{ product.title }}" loading="lazy">
                </div>
            {% endif %}
                <div class="flex flex-col items-center py-5 space-y-5">
                    <h3 class="font-bold text-gray-800 text-xl line-clamp-2">{{ product.title }}</h3>
                    <div class="flex gap-4 items-center mb-4">
                        <span
                            class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">{{product.category}}</span>
                        <span
                            class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">{{product.vendor}}</span>
                    </div>
                    <div class="pr-5">
                        <div class="flex space-y-1">
                            <span class="block text-xl font-bold text-gray-900 current-product-price-{{ product.id }}">$ {{ product.price|formato_precio }}</span>
                            {% if product.old_price %}
                            <div class="flex items-center gap-2">
                                <span class="text-sm text-gray-500 ml-4 line-through">$ {{ product.old_price|formato_precio }}</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </article>
        {% endfor %}
    </div>
</div>
{% endif %}


<div id="spinner" class="absolute top-2/4 left-2/4" hx-trigger="load">
    <svg class="htmx-indicator loader" width="35" height="35" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" opacity=".25"/><path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"><animateTransform attributeName="transform" type="rotate" dur="0.75s" values="0 12 12;360 12 12" repeatCount="indefinite"/></path></svg>
</div>


<script>

    // Seleccionar elementos
    const mainImage = document.getElementById('main-image');
    const thumbnails = document.querySelectorAll('.thumbnail img');

    // Cambiar imagen principal al hacer clic en miniaturas
    thumbnails.forEach(thumb => {
        thumb.addEventListener('click', () => {
            mainImage.src = thumb.src;
        });
    });

    $('#sizechange').on('change', function() {
        const button = $('#add-to-cart-btn');
        const qty = $('#product-quantity').val(1)

        let buttonText = button.text();
        buttonText = buttonText.replace('Producto agregado', 'Agregar al Carrito');
        button.text(buttonText);
        
    })


    $(document).ready(function () {


        // ADD PRODUCT TO CART

        $(".add-to-cart-btn").on("click", function () {

            let this_val = $(this)
            let index = this_val.attr('data-index')

            let quantity = $('.product-quantity-' + index).val()
            let size = $('.product-size-' + index).val()

            let product_title = $('.product-title-' + index).val()

            let product_id = $('.product-id-' + index).val()
            let product_price = $('.current-product-price-' + index).text().replace(',', '.').replace('.', '').replace('$', '');

            let product_pid = $('.product-pid-' + index).val()
            let product_image = $('.product-image-' + index).val()

            // console.log('Quantity:', quantity);
            // console.log('Title:', product_title);
            // console.log('price:', product_price);
            // console.log('id:', product_id);
            // console.log('Pid:', product_pid);
            // console.log('Image:', product_image);
            // console.log('Index:', index);
            // console.log('Current Element:', this_val);
            // console.log('Current Element:', size);


            $.ajax({
                url: '/add-to-cart',
                data: {
                    'id': product_id,
                    'pid': product_pid,
                    'image': product_image,
                    'qty': quantity,
                    'size': size,
                    'title': product_title,
                    'price': product_price
                },
                dataType: 'json',
                beforeSend: function () {
                    // console.log('Product adding');

                },

                success: function (res) {
                    this_val.html('Producto agregado')

                    console.log('Producto agreagdo al cart');
                    $('.cart-items-count').text(res.totalcartitems)

                },

                error: function () {
                    const errorNotification = $('#error-notification');

                    errorNotification.fadeIn();

                    setTimeout(function () {
                        errorNotification.fadeOut();
                    }, 3000);
                }

            })
        })


        // ADD PRODUCT TO WISHLIST

        $(document).on('click', '.add-to-wishlist', function () {
            let product_id = $(this).attr('data-product-item')
            let this_val = $(this)

            // console.log('id:', product_id);
            // console.log('this:', this_val);


            $.ajax({
                url: '/add-to-wishlist',
                data: {
                    'id': product_id,
                },
                dataType: 'json',
                beforeSend: function () {
                    console.log('agregando....');

                },

                success: function (response) {
                    this_val.html('<svg viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <rect x="0" fill="none" width="24" height="24"></rect> <g> <path d="M16.5 3c-1.862 0-3.505.928-4.5 2.344C11.005 3.928 9.362 3 7.5 3 4.462 3 2 5.462 2 8.5c0 5.72 6.5 10.438 10 12.85 3.5-2.412 10-7.13 10-12.85C22 5.462 19.538 3 16.5 3z"></path> </g> </g></svg>')
                    if (response.bool === true) {
                        location.reload()
                    }

                },

                error: function () {
                    window.location.href = "{% url 'account_login' %}"
                }
            })



        })


        const monthNames = ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sept', 'Oct', 'Nov', 'Dic'];

        // ADD COMMENT

        $('#commentForm').submit(function (e) {
            e.preventDefault()

            let dt = new Date()
            let time = dt.getDate() + " " + monthNames[dt.getUTCMonth()] + ', ' + dt.getFullYear()
            
            $.ajax({
                url: $(this).attr('action'),
                data: $(this).serialize(),
                method: $(this).attr('method'),
                dataType: 'json',

                success: async function (res) {

                    if (res.bool == true) {

                        const errorNotification = $('#success-notification');
                        $('.hide-form').hide()
                        $('#hide-text').hide()
                        errorNotification.fadeIn();

                        await setTimeout(function () {
                            errorNotification.fadeOut();
                        }, 3000);

                        let _html = '<div class="single-comment flex flex-col md:flex-row md:justify-between p-4 md:p-6 bg-white border border-gray-200 rounded-lg shadow hover:shadow-lg transition duration-150 ease-in-out">'
                        _html +=        '<div class="user flex items-center space-x-4 mb-4 md:mb-0">'
                        _html +=            '<div class="avatar w-12 h-12 md:w-14 md:h-14">'
                        _html +=                '<img src="https://www.svgrepo.com/show/442075/avatar-default-symbolic.svg" class="w-full h-full object-cover rounded-full"/>'
                        _html +=            '</div>'
                        _html +=            '<span class="font-semibold text-gray-700 hover:underline">' + res.context.user + ' </span>'
                        _html +=        '</div>'
                        _html +=        '<div class="desc w-full md:ml-6">'
                        _html +=            '<div class="flex items-center justify-between mb-2">'
                        _html +=                '<span class="text-sm text-gray-500">'+ time +'</span>'
                        _html +=            '</div>'
                        _html +=            '<div class="flex text-yellow-400 text-lg">'
                                                for (let i = 0; i < res.context.rating; i++) {
                                                    _html += '<span class="p-0.5">&#9733</span>'
                                                }
                                                for (let i = res.context.rating; i < 5; i++) {
                                                    _html += '<span class="p-0.5">&#9734;</span>'; // Estrella vacía
                                                }
                            
                        _html +=            '</div>'
                        _html +=            '<p class="text-gray-700 leading-relaxed">'+ res.context.review +'</p>'
                        _html +=        '</div>'
                        _html +=    '</div>'

                        $('.comment-list2').prepend(_html)
                         
                    }

                }

            })

        })

    })


</script>

{% endblock %}