{% extends 'base.html' %}
{% load static %}
{% block layout %}

<content class="block w-full mb-44">

    <section class="slider md:hidden">
        {% for category in categories %}
        <div class="slide">
            <img class="object-center object-cover bg-no-repeat z-10 imgp h-full" src="{{ category.image.url }}">
            <div class="relative flex flex-col justify-evenly px-10  bottom-full z-20 h-full">
                <span class="text-white underline">{{ category.title }}</span>
                <h1 class="text-white font-semibold text-3xl">{{ category.description }}</h1>
                <p class=" text-white text-lg md:text-xl font-semibold">{{ category.detail }}</p>
                <a href="{% url 'category-product-list' category.cid %}" class="text-center py-2 px-6 bg-transparent border border-white text-white rounded-md hover:bg-white hover:text-black transition transform hover:scale-105">Explorar colección</a>
            </div>
        </div>
        {% endfor %}
    </section>
    
    <video autoplay muted class="hidden md:block object-cover portada">
        <source src="{% static 'images/portada.mp4' %}" type="video/mp4">
        Tu navegador no soporta reproducción de video.
    </video>

    {% block content %}
    {% endblock %}

</content>



{% endblock %}