{% extends 'base.html' %}
{% load static %}
{% block layout %}

<content class="block w-full mb-44">

    <section class="slider md:hidden">
        <div class="slide img1 p-7 flex flex-col justify-around">
            <span class="relative text-white underline">Remeras</span>
            <h1 class="text-white font-semibold text-3xl">Remeras diseñadas para destacar</h1>
            <p class="relative text-white text-lg md:text-xl font-semibold max-w-lg">Elige entre una amplia colección de diseños únicos y modernos.</p>
            <button class="relative px-6 py-2 bg-transparent border border-white text-white rounded-md hover:bg-white hover:text-black transition transform hover:scale-105">Explorar colección</button>
        </div>
        <div class="slide img2 p-7 flex flex-col justify-around">
            <span class="relative text-white underline">Zapatillas</span>
            <h1 class="text-white font-semibold text-3xl">Rinde al máximo con cada paso</h1>
            <p class="relative text-white text-lg md:text-xl font-semibold max-w-lg">Tecnología avanzada para un ajuste perfecto y mayor comodidad.</p>
            <button class="relative px-6 py-2 bg-transparent border border-white text-white rounded-md hover:bg-white hover:text-black transition transform hover:scale-105">Explorar colección</button>
        </div>
        <div class="slide img3 p-7 flex flex-col justify-around">
            <span class="relative text-white underline">Buzos</span>
            <h1 class="text-white font-semibold text-3xl">El estilo cómodo que siempre necesitas</h1>
            <p class="relative text-white text-lg md:text-xl font-semibold max-w-lg">Diseño moderno, tela suave y el ajuste perfecto para tus días más cómodos.</p>
            <button class="relative px-6 py-2 bg-transparent border border-white text-white rounded-md hover:bg-white hover:text-black transition transform hover:scale-105">Explorar colección</button>
        </div>
        <div class="slide img4 p-7 flex flex-col justify-around">
            <span class="relative text-white underline">Camperas</span>
            <h1 class="text-white font-semibold text-3xl">Conquista el frío con nuestra colección</h1>
            <p class="relative text-white text-lg md:text-xl font-semibold max-w-lg">Descubre la campera perfecta para mantenerte abrigado sin sacrificar estilo.</p>
            <button class="relative px-6 py-2 bg-transparent border border-white text-white rounded-md hover:bg-white hover:text-black transition transform hover:scale-105">Explorar colección</button>
        </div>
    </section>
    
    
    <video autoplay muted class="hidden md:block object-cover portada">
        <source src="{% static 'images/portada.mp4' %}" type="video/mp4">
        Tu navegador no soporta reproducción de video.
    </video>

    {% block content %}
    {% endblock %}

</content>



{% endblock %}