{% load price_filters %}
<div x-data="{ isOpen: false }" x-cloak class="w-full container mx-auto p-4 mt-8 md:mt-20">

    <button @click="isOpen = !isOpen"
        class="w-full md:w-auto bg-transparent text-black inline-flex items-center justify-center gap-2 px-4 py-2 text-sm font-medium transition-colors border rounded-md shadow-sm border-input bg-background hover:bg-accent hover:text-accent-foreground">
        Filtros
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="w-4 h-4 transition-transform" :class="{ 'rotate-180': isOpen }">
            <path d="m6 9 6 6 6-6" />
        </svg>
    </button>

    <div x-show="isOpen"
        x-transition:enter="transition ease-out duration-500"
        x-transition:enter-start="opacity-0 transform -translate-y-2"
        x-transition:enter-end="opacity-100 transform translate-y-0"
        x-transition:leave="transition ease-in duration-400"
        x-transition:leave-start="opacity-100 transform translate-y-0"
        x-transition:leave-end="opacity-0 transform -translate-y-2" class="mt-4">
        <div class="flex flex-col md:flex-row justify-between gap-6 p-4 bg-white rounded-lg border">
            <div class="space-y-4 w-full md:w-1/3">
                <h3 class="font-semibold">Categorias</h3>
                <div class="space-y-2 max-h-48 overflow-y-auto">
                    {% for c in categories %}
                    <label class="flex items-center gap-2">
                        <input type="checkbox" data-filter="category"
                            class="w-4 h-4 border rounded-sm border-input filter-checkbox" name="category"
                            value="{{ c.id }}">
                        <span class="flex items-center gap-2">
                            <img src="{{ c.image.url }}" class="w-6 h-6 object-cover" alt="{{ c.title }}">
                            {{ c.title }}
                        </span>
                    </label>
                    {% endfor %}
                </div>
            </div>

            <div class="space-y-4 w-full md:w-1/3">
                <h3 class="font-semibold">Marcas</h3>
                <div class="space-y-2 max-h-48 overflow-y-auto">
                    {% for vendor in vendors %}
                    <label class="flex items-center gap-2">
                        <input type="checkbox" data-filter="vendor"
                            class="w-4 h-4 border rounded-sm border-input filter-checkbox" name="vendor"
                            value="{{ vendor.id }}">
                        <img src="{{ vendor.image.url }}" class="w-6 h-6 object-cover" alt="{{ vendor }}">
                        {{ vendor }}
                    </label>
                    {% endfor %}
                </div>
            </div>
<!-- 
            <div class="bg-white rounded-lg shadow p-6 w-full md:w-1/3 space-y-4">
                <h2 class="text-lg font-semibold mb-4 pb-2 ">Precio</h2>

                <input class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer accent-primary focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2"
                    type="range" name="range" value="50000" id="range"
                    min="50000" max="400000"
                    oninput="max_price.value=this.value">
                <div class="flex justify-between text-sm text-gray-600">
                    <span>Min: $ {{ min_max_price.price__min|formato_precio }}</span>
                    <span>Max: $ {{ min_max_price.price__max|formato_precio }}</span>
                </div>

                <div class="flex items-center space-x-2">
                    <span class="text-gray-700">$</span>
                    <input class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-primary focus:border-primary sm:text-sm" type="number" name="price" value="{{ min_max_price.price__max }}" id="max_price" min="{{ min_max_price.price__min }}" max="{{ min_max_price.price__max }}" placeholder="Current Price" onkeyup="range.value=this.value">

                </div>

                <button class="w-full px-6 py-2 bg-primary text-white font-medium rounded-md hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary transition-colors" id="price-filter-btn">Filtrar</button>

            </div> -->
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {
        $(".filter-checkbox, #price-filter-btn").on("click", function () {

            let filter_object = {}

            let min_price = $('#max_price').attr('min')
            let max_price = $('#max_price').val()

            filter_object.min_price = min_price;
            filter_object.max_price = max_price;

            $(".filter-checkbox").each(function () {
                let filter_value = $(this).val()
                let filter_key = $(this).data('filter')

                console.log('Filter value: ', filter_value);
                console.log('Filter key: ', filter_key);

                filter_object[filter_key] = Array.from(document.querySelectorAll('input[data-filter=' + filter_key + ']:checked')).map(function (e) {
                    return e.value
                })
            })
            $.ajax({
                url: '/filter-products',
                data: filter_object,
                dataType: 'json',
                beforeSend: function () {

                },

                success: function (res) {
                    $('#filtered-product').html(res.data)

                }
            })
        })


        $('#max_price').on('blur', function () {
            let min_price = $(this).attr('min')
            let max_price = $(this).attr('max')
            let current_price = $(this).val()

            if (current_price < parseInt(min_price) || current_price > parseInt(max_price)) {
                console.log('Price bad');

                min_Price = Math.round(min_price * 100) / 100
                max_Price = Math.round(max_price * 100) / 100

                alert('Price must between $' + min_price + ' and $' + max_price)

                $(this).val(min_price)
                $('#range').val(min)

                $(this).focus()

                return false
            }

        })

    })

</script>