{% extends 'layouts/c.html' %}
{% load static %}
{% block title %}Eliminar Cuenta | {% endblock %}

{% block content %}

<div class="max-w-md w-full space-y-8 bg-white p-10 text-center rounded-xl shadow-md">
    <div>
        <h1 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            Eliminar Cuenta
        </h1>
        <p class="mt-2 text-center text-sm text-gray-600">
            ¿Estás seguro que quieres eliminar tu cuenta?
        </p>
    </div>
    <form class="mt-8 space-y-6" method="POST">
        {% csrf_token %}
        <div class="flex flex-col sm:flex-row justify-center items-center space-y-3 sm:space-y-0 sm:space-x-4">
            <button
                class="w-full sm:w-auto px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 transition duration-150 ease-in-out">
                Sí, quiero eliminar mi cuenta
            </button>
            <a href="{{ request.META.HTTP_REFERER }}"
                class="w-full sm:w-auto px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-150 ease-in-out">
                Cancelar
            </a>
        </div>
    </form>
</div>

<div id="result" class="mt-8"></div>

<div class="absolute top-2/4 left-2/4" hx-trigger="load">
    <img alt="Result loading..." class="htmx-indicator loader" src="https://raw.githubusercontent.com/n3r4zzurr0/svg-spinners/abfa05c49acf005b8b1e0ef8eb25a67a7057eb20/svg-smil/ring-resize.svg"/>
</div>

<!-- <h1>Eliminar Cuenta</h1>
<p>Estas seguro que quieres eliminar tu cuenta?</p>

<form method='POST'>
    {% csrf_token %}
    <button type="submit" class="button-red mt-6">Si, quiero eliminar mi cuenta</button>
    <a class="button button-gray ml-1" href="{{ request.META.HTTP_REFERER }}">Cancelar</a>
</form>

<div class="absolute top-40 left-80" hx-trigger="load">
    <img alt="Result loading..." class="htmx-indicator loader" width="150" src="{% static 'images/logo.png' %}"/>
</div> -->

{% endblock %}