{% load price_filters %}

<table class="w-full divide-y divide-gray-200" id="cart-list">
    <thead class="bg-gray-50 hidden md:table-header-group">
        <tr>
            <th scope="col" class="px-4 md:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Productos</th>
            <th scope="col" class="px-4 md:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Precio</th>
            <th scope="col" class="px-4 md:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Subtotal</th>
            <th scope="col" class="px-4 md:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Cantidad</th>
            <th scope="col" class="px-4 md:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
        {% for product_id, item in cart_data.items %}
        <tr class="flex flex-col md:table-row hover:bg-gray-50 p-2">
            <td class="px-4 md:px-6 py-4">
                <div class="flex items-center">
                    <div class="flex-shrink-0 h-24 w-24">
                        <img class="h-24 w-24 rounded-md object-cover" src="{{ item.image }}" alt="{{ item.title }}">
                    </div>
                    <div class="ml-4">
                        <a href="{% url 'product-detail' item.pid %}" class="text-xl font-medium text-gray-900 hover:text-indigo-600">
                            {{ item.title }}
                        </a>
                    </div>
                </div>
            </td>
            <td class="px-4 md:px-6 py-2 md:py-4">    
                <div class="text-md text-gray-900">
                    <span class="md:hidden font-medium">Precio: </span>${{ item.price|formato_precio }}
                </div>
            </td>
            <td class="px-4 md:px-6 py-2 md:py-4">          
                {% widthratio item.price 1 item.qty as total %}
                <div class="text-md text-green-600 font-medium">
                    <span class="md:hidden font-medium">Subtotal: </span>${{ total|formato_precio }}
                </div>
            </td>
            <td class="flex items-center justify-center gap-4 md:block md:mt-6 px-4 md:px-6 py-2 md:py-4">
                <span class="md:hidden font-medium">Cantidad: </span>
                <input type="number" inputmode="numeric" pattern="[0-9]*" name="quantity" value="{{ item.qty }}" min="1" max="{{ item.stock }}"
                    class="product-qty-{{ product_id }} shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-16 sm:w-20 text-sm border-gray-300 rounded-md">
            </td>
            <td class="mx-auto md:m-0 px-4 md:px-6 py-6 md:py-4 text-md font-medium">
                <div class="flex space-x-4">
                    <button data-product="{{ product_id }}" class="update-product bg-blue-600 py-3 px-3">
                        <span class="sr-only">Actualizar</span>
                        <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                        </svg>
                    </button>
                    <button data-product="{{ product_id }}" class="group relative delete-product flex h-10 w-10 flex-col items-center justify-center overflow-hidden rounded-xl border-2 border-red-800 bg-red-600 hover:bg-red-900">
                        <svg viewBox="0 0 1.625 1.625" class="absolute -top-7 fill-white delay-100 group-hover:top-6 group-hover:animate-[spin_1.4s] group-hover:duration-1000" height="15" width="15">
                            <path d="M.471 1.024v-.52a.1.1 0 0 0-.098.098v.618c0 .054.044.098.098.098h.487a.1.1 0 0 0 .098-.099h-.39c-.107 0-.195 0-.195-.195"></path>
                            <path d="M1.219.601h-.163A.1.1 0 0 1 .959.504V.341A.033.033 0 0 0 .926.309h-.26a.1.1 0 0 0-.098.098v.618c0 .054.044.098.098.098h.487a.1.1 0 0 0 .098-.099v-.39a.033.033 0 0 0-.032-.033"></path>
                            <path d="m1.245.465-.15-.15a.02.02 0 0 0-.016-.006.023.023 0 0 0-.023.022v.108c0 .036.029.065.065.065h.107a.023.023 0 0 0 .023-.023.02.02 0 0 0-.007-.016"></path>
                        </svg>
                        <svg width="16" fill="none" viewBox="0 0 39 7" class="origin-right duration-500 group-hover:rotate-90">
                            <line stroke-width="4" stroke="white" y2="5" x2="39" y1="5"></line>
                            <line stroke-width="3" stroke="white" y2="1.5" x2="26.0357" y1="1.5" x1="12"></line>
                        </svg>
                        <svg width="16" fill="none" viewBox="0 0 33 39" class="">
                            <mask fill="white" id="path-1-inside-1_8_19">
                            <path d="M0 0H33V35C33 37.2091 31.2091 39 29 39H4C1.79086 39 0 37.2091 0 35V0Z"></path>
                            </mask>
                            <path mask="url(#path-1-inside-1_8_19)" fill="white" d="M0 0H33H0ZM37 35C37 39.4183 33.4183 43 29 43H4C-0.418278 43 -4 39.4183 -4 35H4H29H37ZM4 43C-0.418278 43 -4 39.4183 -4 35V0H4V35V43ZM37 0V35C37 39.4183 33.4183 43 29 43V35V0H37Z"></path>
                            <path stroke-width="4" stroke="white" d="M12 6L12 29"></path>
                            <path stroke-width="4" stroke="white" d="M21 6V29"></path>
                        </svg>
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>