{% load price_filters %}

<table class="w-full divide-y divide-gray-200" id="cart-list">
    <thead class="bg-gray-50 hidden md:table-header-group">
        <tr>
            <th scope="col" class="px-4 md:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Productos</th>
            <th scope="col" class="px-4 md:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Precio</th>
            <th scope="col" class="px-4 md:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Subtotal</th>
            <th scope="col" class="px-4 md:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Cantidad</th>
            <th scope="col" class="px-4 md:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
        {% for product_id, item in cart_data.items %}
        <tr class="flex flex-col md:table-row hover:bg-gray-50 p-2">
            <td class="px-4 md:px-6 py-4">
                <div class="flex items-center">
                    <div class="flex-shrink-0 h-24 w-24">
                        <img class="h-24 w-24 rounded-md object-cover" src="{{ item.image }}" alt="{{ item.title }}">
                    </div>
                    <div class="ml-4">
                        <a href="{% url 'product-detail' item.pid %}" class="text-xl font-medium text-gray-900 hover:text-indigo-600">
                            {{ item.title }}
                        </a>
                    </div>
                </div>
            </td>
            <td class="px-4 md:px-6 py-2 md:py-4">    
                <div class="text-md text-gray-900">
                    <span class="md:hidden font-medium">Precio: </span>${{ item.price|formato_precio }}
                </div>
            </td>
            <td class="px-4 md:px-6 py-2 md:py-4">          
                {% widthratio item.price 1 item.qty as total %}
                <div class="text-md text-green-600 font-medium">
                    <span class="md:hidden font-medium">Subtotal: </span>${{ total|formato_precio }}
                </div>
            </td>
            <td class="flex items-center justify-center gap-4 md:block md:mt-6 px-4 md:px-6 py-2 md:py-4">
                <span class="md:hidden font-medium">Cantidad: </span>
                <input type="number" name="quantity" value="{{ item.qty }}" min="1" max="{{ item.stock }}"
                    class="product-qty-{{ product_id }} shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-16 sm:w-20 text-sm border-gray-300 rounded-md">
            </td>
            <td class="mx-auto md:m-0 px-4 md:px-6 py-6 md:py-4 text-md font-medium">
                <div class="flex space-x-4">
                    <button data-product="{{ product_id }}" class="update-product bg-blue-600 py-3 px-6">
                        <span class="sr-only">Actualizar</span>
                        <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                        </svg>
                    </button>
                    <button data-product="{{ product_id }}" class="delete-product bg-red-600 py-3 px-6">
                        <span class="sr-only">Eliminar</span>
                        <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>