{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Ecommerce</title>

</head>
<body class="bg-gray-800">

    <div class="flex items-center justify-between h-20 pl-8">
        <logo>
            <a class="flex items-center gap-6" href="">
                <img class="w-20" src="{% static 'images/logo.png' %}" alt="">
                <span class="text-lg font-bold text-white">Ecommerce</span>
            </a>
        </logo>
    </div>
    
    <content class="block my-32 px-6 text-center">
        {% block content %}
        {% endblock %}
    </content>

</body>
</html>