{% extends 'a_landingpages/base.html' %}

{% block content %}

<div class="text-center">
    <h1 class="text-white text-4xl font-bold mb-4">La página está en mantenimiento</h1>
    <h2 class="text-white text-xl font-light mb-8">Vuelve más tarde</h2>
    <div class="flex justify-center">
        <img class="w-1/4 object-contain" src="https://www.segurmaniazurekin.eus/a/2023/02/segurmania_riesgos_actividades_mantenimiento_destacada-320x240.jpg" alt="Página en mantenimiento">
    </div>
</div>

{% endblock %}